html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  font: caption;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  padding: 0 0.0625em 0.0625em 0;
  touch-action: manipulation;
  user-select: none;
}

.cell {
  border: 0.0625em solid #000;
  margin: 0 -0.0625em -0.0625em 0;
}

.label {
  display: grid;
  place-items: center;
  padding-top: 0.0625em;
}

.bg {
  background-color: #ddd;
}

.odd {
  background-color: #fff;
}

.st {
  position: sticky;
  top: 0;
}

.sl {
  position: sticky;
  left: 0;
}

.sr {
  position: sticky;
  right: 0;
}

.sel {
  background-color: #0f0;
}
.selg {
  background-color: #ff9;
}
.selt {
  background-color: #aff;
}
